.input {
    max-width: calc(33% - 5px)
}

.red {
    display: inline-block;
    animation: flash 1s ease-in-out infinite;
    /* animation-iteration-count: infinite; */
}

@keyframes flash {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media(max-width:996px) {
    .input {
        max-width: 100%
    }
}